* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    font-size: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-top: 5px;
    margin-bottom: 2px;
    color: #777777;
}

label {
    display: inline-block;
    margin-top: 10px;
}

body {
    background: lightgray;
    color: grey;
    font-size: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    position: relative;
}

#fixed {
    background: #eee;
    position: fixed;
    height: 100px;
    width: 100%;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
}

#middle {
    text-align: center;
    position: absolute;
}

#absolute {
    background: #4aaaa5;
    width: 200px;
    height: 70px;
    position: absolute;
    bottom: 0px;
    left: 240px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 5px 10px 5px;
    border: none;
    cursor: pointer;
    float: left;
    margin-top: 10px
}

.container {
    /* top: 40%;
     left: 40%;
     width:50%;
     padding:10px 20px 10px;
     margin-top: -9em;
     /*set to a negative number 1/2 of your height*/
    /* margin-left: -15em;
     /*set to a negative number 1/2 of your width*/
    /* border: 1px solid #ccc;
     background-color: #f3f3f3;
     position:fixed; */
     position: relative;
     
     min-height:60%;
    width: 960px;
    margin: 130px auto 0 auto;
    padding: 15px 15px 30px 15px;
    background-color: #f3f3f3;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #666666;
    color: white;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 50px;
   

    /* Height of the footer */


}

#contact-text {
    font-size: 25px;
    color: #4aaaa5;
    margin-bottom: 10px;
}

ul li {
    float: right;
    padding: 20px 20px 10px;
    list-style-type: none;
}

#name-position {
    margin-top: 25px;
    font-weight: 900
}

nav {
    position: absolute;
    right: 230px;
    top: 55px;
    text-decoration: none
}

a {
    text-decoration: none;
    padding-right: 10px;
    padding-left: 5px;
}

a:link {
    color: #777777;
    text-decoration: none;
}

img.float-left {
    float: left;
    margin: 4px
}

.clearfix {
    overflow: auto;
}

p {
    line-height: 2.5em;
}

.blue-line {
    background-color:#4aaaa5;
    height: 15px;
    width: 100%;
    position: absolute;
    bottom: 6%;
    left: 0;
    margin: 0 auto;
}









.clearfix::after {
    content: "";
    clear: both;
    
}

.box {
    float: left;
    width: 20%;
    height:20%;
    padding: 1px;
    margin-top:20px;
    background-color:#ddd;
    display:block;
    position: relative;

    
}

.box-2 {
    float: left;;
    width: 20%;
    height: 20%;
    padding: 1px;
    
    margin-left:20px;
    margin-top:20px;
    margin-right: 400px;
    background-color:#ddd;
    display:block;
    position: relative;

}

.bottom-center {
    position: absolute;
    bottom: 8px;
    left: 16px;
}


h2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    z-index:1;
    background-color:red;
}

.bb{
    	position:relative;
    	display:inline-block;
}

#box2 {
    width: 50px;
    background-color: yellow;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}